<div id='lang-partial'>

    <p>
        <img class='lang-icon' src='../assets/nav/hr.png' alt='hr'>
    </p>

    <p>
        <img class='lang-icon' src='../assets/nav/de.png' alt='de'>
    </p>

    <p>
        <img class='lang-icon' src='../assets/nav/it.png' alt='it'>
    </p>

    <p>
        <img class='lang-icon' src='../assets/nav/fr.png' alt='fr'>
    </p>

    <p>
        <img class='lang-icon' src='../assets/nav/sl.png' alt='sl'>
    </p>

    <p>
        <img class='lang-icon' src='../assets/nav/cs.png' alt='cs'>
    </p>

    <p>
        <img class='lang-icon' src='../assets/nav/es.png' alt='es'>
    </p>

    <p>
        <img class='lang-icon' src='../assets/nav/sk.png' alt='sk'>
    </p>

    <p>
        <img class='lang-icon' src='../assets/nav/pt.png' alt='pt'>
    </p>

    <p>
        <img class='lang-icon' src='../assets/nav/sr.png' alt='sr'>
    </p>

    <p>
        <img class='lang-icon' src='../assets/nav/ru.png' alt='ru'>
    </p>

</div>
