<div id='lang-partial'>

    {{#each list}}
        {{#unless this.flag}}

        <p>
            <img class='lang-icon' src='../assets/nav/{{this.langJSON}}.png' alt='{{this.langJSON}}'>
        </p>

        {{/unless}}
    {{/each}}

</div>
