<ul id='nav-partial'>

    <li class='center' id='logo-nav'>
        <a href='/'><img src='../assets/nav/logo.png' alt='logo'></a>
    </li>

    <li id='lang-nav'>
        <img src='../assets/nav/en.png' alt='en'>
    </li>

</ul>
