<ul id='nav-partial'>

    <li id='admin-nav'>
        <a id='admin-nav-icon' href='/admin'>{Admin}</a>
        <!-- <a id='contadmin-nav-hover' href='/admin'>Admin</a> -->
    </li>

    <li class='center' id='logo-nav'>
        <a href='/'><img src='../assets/nav/logo.png' alt='logo'></a>
    </li>

    <li id='contact-nav'>
        <a id='contact-nav-icon' href='/contact'>{Contact_icon}</a>
        <a id='contact-nav-hover' href='/contact'>{{ lang.cont_message }}</a>
    </li>

    <li id='lang-nav'>
        <img src='../assets/nav/{{ lang.lang }}.png' alt='{{ lang.lang }}'>
    </li>

</ul>
