<!DOCTYPE html>
<html lang='en' dir='ltr'>
    <head>
        <meta charset='utf-8'>
        <title>Apartmani Petkovic</title>

        <link rel='stylesheet' href='/styles.css'>
        <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet'>
    </head>
    <body>

        <div id='main-layout'>

            {{{ body }}}

        </div>

    </body>
</html>


<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
<script src='https://unpkg.com/axios/dist/axios.min.js'></script>
<script type='text/javascript' src='/client.js' charset='utf-8'></script>
