<div id='admin-view'>

    <h1>Admin:</h1>
    <h1>{{message}}</h1>

    {{#if success}}

    <div id='calendars'>


            <div id='calendar'>
            </div>


    </div>

    {{else}}

        <form method='post' action='adminLog'>

            <input name='_csrf' type='hidden' value='{{ csrfToken }}'>

            <input type='email' name='email' placeholder='Email' required>
            <input type='password' name='password' placeholder='Password' required>

            <button type='submit'>Log in</button>

        </form>
    {{/if}}

</div>
