body {
    background-color: red;
}

.layout {
    padding: 1vw;
    border: 0.5vw solid white;
    background-color: yellow;
}

.view {
    padding: 1vw;
    border: 0.5vw solid white;
    background-color: green;
}
