#ticker-partial {
    width: 100vw;
    height: 4vh;
    bottom: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
}

#ticker-partial #footer .headlines span img {
    height: 3.8vh;
    vertical-align: bottom;
    padding-right: 2vw;
}

.filter {
    filter: invert(100%);
}

#header,
#footer {
    height: 100%;
    width: 100%;
    position: absolute;
}

#header {
    top: 0;
}

#footer {
    bottom: 0;
}

.headlines {
    white-space: nowrap;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* starting empty from the right */
#header .headlines {
    left: 100%;
}

/* starting empty from the left */
#footer .headlines {
    left: 0;
}

#ticker-partial span {
    font-weight: bold;
    font-family: monospace;
    font-size: 3.8vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#header .headlines span {
    padding-right: 9vw;
}

#footer .headlines span {
    padding-left: 9vw;
}
